<h1>Listing aliments</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Calories</th>
    <th>Unite</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @aliments.each do |aliment| %>
  <tr>
    <td><%= aliment.name %></td>
    <td><%= aliment.calories %></td>
    <td><%= aliment.unite_id %></td>
    <td><%= link_to 'Show', aliment %></td>
    <td><%= link_to 'Edit', edit_aliment_path(aliment) %></td>
    <td><%= link_to 'Destroy', aliment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Aliment', new_aliment_path %>
