<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @aliment.name %>
</p>

<p>
  <b>Calories:</b>
  <%= @aliment.calories %>
</p>

<p>
  <b>Unite:</b>
  <%= @aliment.unite_id %>
</p>


<%= link_to 'Edit', edit_aliment_path(@aliment) %> |
<%= link_to 'Back', aliments_path %>
