 <div class="container">
<div class='row'>
  
  <div class="span8 well">
    <h2>Informations du profil de <%= @user.name %></h2>
      <%= simple_form_for([@user, @profile], :html => { :class => 'form-vertical' }) do |f| %>
          <%= f.error_notification %>
          <%= display_base_errors @profile %>
  
          <%= f.input :birthday, :as => :date, :start_year => Date.today.year - 90,
                             :end_year => Date.today.year - 12,
                            :order => [:month, :year, :day], label: 'Anniversaire' 

          %>

          <%= f.input :taille, label: 'taille en cm' %>
          <%= f.input :gender, label: 'sexe', :collection => [:homme, :femme] %>
          <%= f.input :morphologie, label: "Décrivez votre morphologie",:collection => [:fine, :normal, :large] %> 


          <%= f.input :comportement, label: "Décrivez votre niveau d'activité physique"  , :wrapper => :append do %>  
              
              <%= f.input_field :comportement , :collection => ["sédentaire", "légèrement actif","modérément actif","très actif","très très actif"]%>
              <a type="button" class="btn btn-primary" href="#test_modal" data-toggle="modal"><i class="icon-white icon-question-sign"></i></span></a>
         <%end%>
  
         <%= render "modal_niveaux_activite" %>
        
        </br>

        <%= button_tag(type: 'submit', class: "btn btn-success") do %>
          <i class="icon-ok icon-white"></i> Modifier
        <% end %>
      <%end%>
  </div>
</div>
</div>