<%= simple_form_for([@user, @profile], :html => { :class => 'form-vertical' }) do |f| %>
  <%= f.error_notification %>
  <%= display_base_errors @profile %>
  

  
      <%= f.input :birthday, :as => :date, :start_year => Date.today.year - 90,
                              :end_year => Date.today.year - 12,
                              :order => [:month, :year, :day], label: 'Anniversaire' %>
      <%= f.input :taille, label: 'taille en cm' %>
      <%= f.input :gender, label: 'sexe', :collection => [:male, :female] %>
      <div class="row">
      	<div class="span3">
      		<%= f.input :comportement, label: "Décrivez votre niveau d'activité physique"  , :collection => ["sédentaire", "légèrement actif","modérément actif","très actif","très très actif"] %>
      	</div>
      	<div class="span4">
      Vous êtes sédentaire quand vous pratiquez peu ou pas d’exercice </br>
	  Vous êtes légèrement actif quand vous pratiquez un un exercice peu rythmé 1-3 jours par semaine</br>
	  Vous êtes modérément actif quand vous pratiquez un exercice modéré 3-5 jours par semaine</br>
	  Vous êtes très actif quand vous pratiquez un exercice difficile 6-7 jours par semaine </br>
	  Vous êtes très très actif quand vous êtes un métier très physique ou sportif</br>
	</div>
	</div>
      <%= f.input :image_url %>


  <%= f.button :submit, :class => 'btn-primary' %>
<% end %>

<%= link_to "Back", :back %>