
<div class='row'>
      
<h2>Modification des informations du compte <%= resource.name %></h2>

      <div class="span6 well">

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => 'form-vertical' }) do |f| %>
  <%= f.error_notification %>
  <%= display_base_errors resource %>
  
  <%= f.input :name, :autofocus => true, label: t('user.nom') %>
  <%= f.input :email, :required => true, label: t('user.email') %>
  <%= f.input :password, label: t('user.password'), :autocomplete => "off", :hint => "Laisser blanc si vous ne voulez pas modifier votre mot de passe", :required => false %>
  <%= f.input :password_confirmation,label: t('user.password_confirmation'), :required => false %>
  
  
  <%= f.input :current_password,label: t('user.password_current'), :hint => "Nous avons besoin de votre mot de passe pour valider vos changements", :required => true %>

  

 <%= button_tag(type: 'submit', class: "btn btn-success") do %>
        <i class="icon-ok icon-white"></i> Modifier
      <% end %>
<% end %>
</div>
</div>
