<div class='row'>

      <div class="span8 well">


<%= simple_nested_form_for(@repa) do |f| %>

  <%= f.error_notification %>
  <div class="form-inputs">
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.input :quand, label: 'Date du repas' %>
    <%= f.input :name,label: 'Type de repas', :collection => ['petit dejeuner', 'dejeuner', 'collation', 'diner'] %>
    <%= f.simple_fields_for :ingredients do |ff| %>
      
      <%= ff.input :aliment_id,:collection => @aliments, :required => true, :autofocus => true, :label => 'Selectionner un aliment', :label_method=>:name, :wrapper => :append do%>
        <%= ff.input_field :aliment_id, :collection => @aliments, :required => true, :label => 'Selectionner un aliment', :label_method=>:name%>
        <%= ff.link_to_remove "Supprimer", class: "btn btn-danger" %>
      <%end%>
  
      <div class = 'row'>
         <div class="span5">
            <%= ff.input :quantite, label: "Quelle quantité avez vous manger en grammes ? "  , :wrapper => :append do %>  
              <%= ff.input_field :quantite%>
              <a type="button" class="btn btn-primary" href="#test_modal" data-toggle="modal"><i class="icon-white icon-question-sign"></i></span></a>
            <%end%>
         </div>
        
         <%= render "modal_equivalences" %>
    </div>
    <%end%>
   <p><%= f.link_to_add "Ajouter un aliment au repas", :ingredients, class: "btn btn-primary" %></p>
  </div>

<div class="form-actions">  
    <%if delete %>
      <%= button_tag(type: 'submit', class: "btn btn-success") do %>
        <i class="icon-ok icon-white"></i> Modifier
      <% end %>
      <%= button_tag(type: 'submit', class: "btn btn-danger", :name=>'destroy') do %>
        <i class="icon-trash icon-white"></i> Supprimer
      <% end %>
    <%else%> 
        <%= button_tag(type: 'submit', class: "btn btn-success") do %>
        <i class="icon-ok icon-white"></i> Créer
        <%end%>
    <%end%>
  </div>
<%end%>
</div>
</div>
