<%= simple_nested_form_for(@repa) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.input :quand, label: 'Date du repas' %>
    <%= f.input :name,label: 'Type de repas', :collection => ['petit dejeuner', 'dejeuner', 'collation', 'diner'] %>
    <%= f.simple_fields_for :ingredients do |ff| %>
      <%= ff.input :aliment_id, :collection => @aliments, :required => true, :autofocus => true, :label => 'Selectionner un aliment', :label_method=>:full_name%>
      <%= ff.input :quantite, label: 'Quelle quantité avez vous manger en nombre de portions ? ' %>
      <%= ff.link_to_remove "Supprimer cet aliment" %>
    <%end%>
   <p><%= f.link_to_add "Ajouter un aliment au repas", :ingredients %></p>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
