<script type="text/javascript" charset="utf-8">
  $(function () {
  new Highcharts.Chart({
    chart: { renderTo: 'pesees_chart' },
    title: { text: 'Evolution du poids' },
    xAxis: { categories: <%= raw @user.pesees.map { |p| p.quand.to_s } %>  },
    yAxis: {
      title: { text: 'kg'}
    },
    series: [{
          name: "poids",
          data: <%= @user.pesees.map { |p| p.what.to_f } %>
         }]
         
  });
});
</script>



<script type="text/javascript" charset="utf-8">
  $(function () {
  new Highcharts.Chart({
    chart: { renderTo: 'calories_chart' },
    title: { text: 'Apport Calorique journalier' },
    xAxis: { type: 'datetime' },
    yAxis: {
      title: { text: 'kcal' }
    },
    series: [{
      pointInterval: <%= 1.day * 1000 %>,
      pointStart: <%= 10.days.ago.at_midnight.to_i * 1000 %>,
      data: <%= @calories %>
    }]
  });
});
</script>




<div class='row'>
      <div class="span4 well">
    	   <div class="row">
    		    <div class="span1"><%=image_tag @user.image%></div>
    		    <div class="span3">
    			       <p><%=@user.name%></p>
                <% unless @user.pesees.count ==0 %>
                  <p><%=@user.pesees.last.what %> kg pour <%=@user.taille%> cm</p>
                <%end%>
    			       <p><strong><%=@user.email%></strong></p>
                 <% unless @user.profile.nil? || @user.profile.uncomplete? %>
                 <p><strong>IMC : <%=Doctor.imc(@user)%> (<%=Doctor.avis_imc(@user)%>)</strong></p>
                 <p><strong>IMG : <%=Doctor.img(@user)%> % (<%=Doctor.avis_img(@user)%>)</strong></p>
                 <p><strong>Poids ideal : <%=Doctor.poids_ideal(@user)%> kg</strong></p>
                 <p><strong>Metabolisme : <%=Doctor.metabolisme(@user)%> kcal</strong></p>
                 <%end%>
    			       <span class=" badge badge-warning">8 messages</span> <span class=" badge badge-info">15 followers</span>
    		    </div>
    	   </div>
      </div>
      <div class="span4">
        <div id="pesees_chart" style="width: 560px; height: 300px;"></div>
      </div>
      <div class="span4"></div>
      <div class="span4">
        <div id="calories_chart" style="width: 560px; height: 300px;"></div>
      </div>
</div>

