<script type="text/javascript" charset="utf-8">
  $(function () {
  new Highcharts.Chart({
    chart: { renderTo: 'pesees_chart' },
    title: { text: 'Evolution du poids' },
    xAxis: { categories: <%= raw @user.pesees.map { |p| p.quand.to_s } %>  },
    yAxis: {
      title: { text: 'kg'}
    },
    series: [{
          name: "poids",
          data: <%= @user.pesees.map { |p| p.what.to_f } %>
         }]
         
  });
});
</script>



<div class='row'>
      <div class="span4 well">
    	   <div class="row">
    		    <div class="span1"><%=image_tag @user.image%></div>
    		    <div class="span3">
    			       <p><%=@user.name%></p>
                <% unless @user.pesees.count ==0 %>
                  <p><%=@user.pesees.last.what %> kg pour <%=@user.taille%> cm</p>
                <%end%>
    			       <p><strong><%=@user.email%></strong></p>
    			       <span class=" badge badge-warning">8 messages</span> <span class=" badge badge-info">15 followers</span>
                <% if @user.profile.nil? %>
                  <%= link_to("Creer",new_user_profile_path(@user)) %>
                <% else %>
                  <%= link_to("Modifier",edit_user_profile_path(@user,@user.profile)) %>
                <%end%>
    		    </div>
    	   </div>
      </div>
      <div class="span2">
        <div id="pesees_chart" style="width: 560px; height: 300px;"></div>
      </div>
</div>

