<script type="text/javascript" charset="utf-8">
  $(function () {
  new Highcharts.Chart({
    chart: { renderTo: 'pesees_chart' },
    title: { text: 'Evolution du poids' },
    xAxis: { categories: <%= raw @user.pesees.map { |p| p.quand.to_s } %>  },
    yAxis: {
      title: { text: 'kg'}
    },
    series: [{
          name: "poids",
          data: <%= @user.pesees.map { |p| p.what.to_f } %>
         }]
         
  });
});
</script>


<% unless @user.profile.nil? || @user.profile.uncomplete? %>




<script type="text/javascript" charset="utf-8" >
$(function () {
    var chart;
    $(document).ready(function() {
        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'calories_chart',
                type: 'areaspline'
            },
            title: {
                text: 'Balance calorique quotidienne'
            },
            xAxis: {
                categories: [
                    <%=(7.days.ago).day%>,
                    <%=(6.days.ago).day%>,
                    <%=(5.days.ago).day%>,
                    <%=(4.days.ago).day%>,
                    <%=(3.days.ago).day%>,
                    <%=(2.days.ago).day%>,
                    <%=(1.days.ago).day%>,
                    <%=(0.days.ago).day%>
                ],
                
            },
            yAxis: {
                title: {
                    text: 'Kcal'
                }
            },
            tooltip: {
                formatter: function() {
                    return ''+
                    this.y +' Kcal';
                }
            },
            credits: {
                enabled: false
            },
            plotOptions: {
                areaspline: {
                    fillOpacity: 0.01
                }
            },
            series: [{
                name: 'Calories acquises',
                data: <%=@calories_acquise%>
            }, {
                name: 'Calories dépensées',
                data: <%=@calories_depense%>
            }, {
                name: 'Metabolisme',
                data: <%=@metabolismes%>
            }, {
                name: 'Besoin théorique',
                data: <%=@besoins%>
            }, {
                name: 'Objectif',
                data: <%=@objectifs%>
            } 

            ]
        });
    });
    
});
</script>

<%end%>




<div class='row'>
      <div class="span4 well">
    	   <div class="row">
    		    <div class="span1"><%=image_tag @user.image, class: 'thumbnail'%></div>
    		    <div class="span3">
    			       <p><strong><%=@user.name%></strong></p>
                <% unless @user.pesees.empty? %>
                  <p><%=@user.pesees.last.what %> kg pour <%=@user.taille%> cm</p>
                <%else%>
                  <p>Vous n'avez pas encore de pesée</p>
                <%end%>
                <% if @user.age == 0 %>
                <P>Votre profil est incomplet nous ne connaissons pas votre age</p>
                <%else%>
    			       <p><%=@user.age%> ans <%=@user.profile.comportement unless @user.profile.nil? || @user.profile.uncomplete?%></p>
                 <p><%=@user.email%></p>
    			       <%end%>
    		    </div>
    	   </div>
      </div>
      <div class="span5">
        <div id="pesees_chart" style="width: 560px; height: 300px;"></div>
      </div>
      <div class="span4 well">
           <div class="row">
          <div class="span1"><h6><i class='icon-large icon-tags'></i> Infos</h6></div>
          <div class="span3">
            <% unless @user.profile.nil? || @user.profile.uncomplete? %>
                 <p><span class='<%= raw("label #{Doctor.label_imc(@user)}")%>'> Indice de Masse Corporelle : </span> <%=Doctor.imc(@user)%> (<%=Doctor.avis_imc(@user)%>)</p>
                 <p><span class='<%= raw("label #{Doctor.label_img(@user)}")%>' > Indice de Masse Graisseuse : </span> <%=Doctor.img(@user)%> % (<%=Doctor.avis_img(@user)%>)</p>
                 <p><span class="label label-info"> Poids idéal : </span> <%=Doctor.poids_ideal(@user)%> Kg</p>
                 <p><span class="label label-info"> Métabolisme de base : </span> <%=Doctor.metabolisme(@user).round%> Kcal</p>
                 <p><span class="label label-info"> Besoin Théorique : </span> <%=Doctor.besoin_quotidien(@user).round%> Kcal</p>
                 <%unless @user.target.nil? || @user.pesees.empty?%>
                 <p><span class="label label-info"> Besoin pour Objectif : </span> <%=Doctor.besoin_cible(@user).round%> Kcal</p>
                 <%end%>
            <%else%>
              <p> Vous devez completer votre profil et ajouter une pesée pour voir vos infos nutritionnelles</p>
            <%end%>
          </div>
          </div>
      </div>
      <div class="span5">
        <div id="calories_chart" style="width: 560px; height: 300px;"></div>
      </div>
</div>

