 <div class="container">
<div class='row'>

      <div class="span8 well">


<%= simple_form_for(@activite) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  	<%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.input :quand, label: "Date de l'activité" %>
    <%= f.input :category_activite_id, :collection => CategoryActivite.all, label: "Type d'activité", :selected => "4" %>
    <%= f.input :duree, label: "Durée de l'activité en minutes" %> 
  </div>

  <div class="form-actions">  
    <%if delete %>
      <%= button_tag(type: 'submit', class: "btn btn-success") do %>
        <i class="icon-ok icon-white"></i> Modifier
      <% end %>
      <%= button_tag(type: 'submit', class: "btn btn-primary btn-danger", :name=>'destroy') do %>
        <i class="icon-trash icon-white"></i> Supprimer
      <% end %>
    <%else%> 
        <%= button_tag(type: 'submit', class: "btn btn-success") do %>
        <i class="icon-ok icon-white"></i> Créer
        <%end%>
    <%end%>
  </div>
<% end %>
</div>
</div>
</div>