<p id="notice"><%= notice %></p>

<p>
  <b>Category activite:</b>
  <%= @activite.category_activite_id %>
</p>

<p>
  <b>Duree:</b>
  <%= @activite.duree %>
</p>

<p>
  <b>When:</b>
  <%= @activite.quand %>
</p>


<%= link_to 'Edit', edit_activite_path(@activite) %> |
<%= link_to 'Back', activites_path %>
